<h2>General</h2>
<p-toast></p-toast>
<div [formGroup]="generalForm" class="mx-6">
  <div class="grid">
    <div class="col-12 md:col-7 lg:col-8 xl:col-9 my-auto">Auto-saving timer - use 0 to disable</div>
    <div class="col-12 md:col-5 lg:col-4 xl:col-3 flex">
      <p-inputNumber
        formControlName="autoSavingTimer"
        [showButtons]="true"
        buttonLayout="horizontal"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        [allowEmpty]="false"
        #inputNumber
        (onInput)="inputNumber.updateModel($event, $event.value)"
        [size]="3"
        [step]="15"
        [min]="0"
        [max]="15 * 4 * 5"
      ></p-inputNumber>
      <span class="pl-2 text-sm my-auto">secs ({{autoSavingMinutes$ | async}} minutes)</span>
    </div>
  </div>
  <div class="flex justify-content-end pt-4">
    <button pButton label="Save" (click)="save()"></button>
  </div>
</div>
