<div class="flex align-items-center flex-column">
  <!--  <span class="pi pi-calendar" [style.font-size]="'3rem'"></span>-->
  <img src="assets/logo.png" [style.width]="'15rem'" />
  <p class="text-4xl font-bold text-center mt-0">
    <!--    Spaced Repetition Calendar-->
    <!--    <br>-->
    <span class="text-xl">{{ version }}</span>
  </p>
  <p class="text-center text-lg">
    If you want to report a bug or ask for a new feature, you can do it
    <a
      href="https://github.com/silibdev/spaced-repetitions-calendar/issues"
      target="_blank"
      >here</a
    >
  </p>
  <p class="text-center">
    Made with
    <span class="pi pi-heart-fill" [style.color]="'#c80505'"></span> by
    <a href="https://github.com/silibdev" target="_blank">Fabio Siliberto</a>
  </p>
</div>
