.color {
  width: 1rem;
  height: 1rem;
  border-radius: 5rem;
  border: 1px solid #495057;
}

.src-bold input {
  font-weight: bold;
}

.src-highlight input {
  background-color: gold;
}

:host ::ng-deep {
  .p-tabview-panels {
    padding: 0;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 0.7rem;
  }
}
