<div class="grid" [formGroup]="eventFormService.form" #content>
  <p-message *ngIf="isMaster" severity="warn" text="Deleting this will delete the whole series!"
             class="col-12"></p-message>

  <div
    *ngIf="titleOptions$ | async as titleOpts"
    class="col-12 lg:col-9 p-field"
    [class.src-bold]="titleOpts.boldTitle"
    [class.src-highlight]="titleOpts.highlightTitle"
  >
    <label>Title</label>
    <textarea
      [style.resize]="'vertical'"
      pInputText
      type="text"
      rows="3"
      [formControlName]="'title'"
    ></textarea>
  </div>

  <div class="col-4 lg:col-3 flex align-items-end">
    <p-toggleButton
      [formControlName]="'boldTitle'"
      onLabel="Bold"
      offLabel="Bold"
    ></p-toggleButton>
    <p-toggleButton
      [formControlName]="'highlightTitle'"
      onLabel="Highlight"
      offLabel="Highlight"
      styleClass="ml-2"
    ></p-toggleButton>
  </div>

  <div class="col-12 p-field">
    <label>Short description</label>
    <input
      pInputText
      type="text"
      [formControlName]="'shortDescription'">
  </div>

  <div class="col-12 p-field">
    <label>Description</label>
    <p-editor
      [formControlName]="'description'"
      [style]="{height: '82vh'}"
    ></p-editor>
  </div>

  <div class="col-5 sm:col-3 md:col-2 p-field">
    <label>Date</label>
    <p-calendar [formControlName]="'start'" appendTo="body"></p-calendar>
  </div>

  <div class="col-7 sm:col-6 md:col-5 lg:col-4 p-field">
    <label>Color</label>
    <p-dropdown [options]="colorOpts" [formControl]="customColorControl" appendTo="body">
      <ng-template let-item pTemplate="selectedItem">
        <div class="flex align-items-center">
          <span class="color inline-block" [style.background-color]="item.value"></span>
          <span class="pl-1">{{item.label}}</span>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="flex align-items-center">
          <span class="color inline-block" [style.background-color]="item.value"></span>
          <span class="pl-1">{{item.label}}</span>
        </div>
      </ng-template>
    </p-dropdown>
    <p-colorPicker class="pl-2" [formControlName]="'color'" appendTo="body"></p-colorPicker>
  </div>

  <div class="col-6 md:col-4 p-field" *ngIf="!isEdit">
    <label>RepetitionSchema</label>
    <p-dropdown
      appendTo="body"
      [editable]="true"
      [options]="eventFormService.repetitionSchemaOpts"
      [formControlName]="'repetitionSchema'"
    ></p-dropdown>
  </div>

  <div class="col-4 sm:col-3 md:col-2 p-field-checkbox" *ngIf="isEdit">
    <p-checkbox class="pt-5" [formControlName]="'done'" [binary]="true" label="Done"></p-checkbox>
  </div>
</div>
