<div class="grid" [formGroup]="eventFormService.form" #content>
  <div class="col-12 p-field">
    <label>Title</label>
    <input
      pInputText
      type="text"
      [formControlName]="'title'">
  </div>
  <div class="col-12 p-field">
    <label>Description</label>
    <textarea
      pInputTextarea
      [formControlName]="'description'"
      rows="4"
    ></textarea>
  </div>

  <div class="col-4 p-field">
    <label>Date</label>
    <p-calendar [formControlName]="'start'" appendTo="body"></p-calendar>
  </div>

  <div class="col-4 p-field">
    <label>Color</label>
    <p-dropdown [options]="colorOpts" [formControl]="customColorControl" appendTo="body">
      <ng-template let-item pTemplate="selectedItem">
        <div class="flex align-items-center">
          <span class="color inline-block" [style.background-color]="item.value"></span>
          <span class="pl-1">{{item.label}}</span>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="flex align-items-center">
          <span class="color inline-block" [style.background-color]="item.value"></span>
          <span class="pl-1">{{item.label}}</span>
        </div>
      </ng-template>
    </p-dropdown>
    <p-colorPicker class="pl-2" [formControlName]="'color'" appendTo="body"></p-colorPicker>
  </div>

  <div class="col-4 p-field" *ngIf="!isEdit">
    <label>RepetitionSchema</label>
    <p-dropdown
      appendTo="body"
      [editable]="true"
      [options]="eventFormService.repetitionSchemaOpts"
      [formControlName]="'repetitionSchema'"
    ></p-dropdown>
  </div>

  <div class="col-4 p-field-checkbox" *ngIf="isEdit">
    <p-checkbox class="pt-5" [formControlName]="'done'" [binary]="true" label="Done"></p-checkbox>
  </div>

  <p-message *ngIf="isMaster" severity="warn" text="Deleting this will delete the whole series!"
             class="mt-3 col-12"></p-message>
</div>
