.loader-container {
  position: fixed;
  z-index: 9999;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Transparent Overlay */
.loader-container:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.25);
}

.loader-text {
  font-size: 1.2rem;
  text-align: center;
}

.loader-bkg {
  z-index: 0;
  background: white;
  border-radius: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

:host ::ng-deep .p-progressbar-determinate .p-progressbar-value-animate {
  transition: width 0.1s ease-in-out;
}
