app-day-events-view {
  .dev-open-day-events {
    overflow: hidden;
    background: #fafafa;
    font-size: 0.95rem;

    .dev-event-row {
      border-bottom: 1px solid #e1e1e1;
      cursor: pointer;
      padding: 0.3rem 0.3rem 0 0.3rem;

      &:hover {
        background-color: #ededed;

        .dev-title {
          text-decoration: underline;
        }
      }

      .dev-header {
        margin-bottom: -0.1rem;
      }

      .dev-header-1 {
        display: flex;
        align-items: start;

        .event-dot {
          width: 1em;
          height: 1em;
        }

        .dev-done {
          //background-color: #71dc00;
          //border-radius: 30%;
          //color: white;
          visibility: hidden;
          margin-left: 0.5em;
          padding: 0.25em;

          // https://icons8.com/icon/uEOIjnBJDq8Q/done
          background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KPHBvbHlnb24gZmlsbD0iIzAwYjU2OSIgcG9pbnRzPSI1Ljg1NywxNC44NDQgMC4xNzIsOS4wMzIgMy4wMzEsNi4yMzUgNS44ODgsOS4xNTYgMTIuOTg0LDIuMDYgMTUuODEyLDQuODg4Ij48L3BvbHlnb24+Cjwvc3ZnPg==') 50% 50% no-repeat;
          background-size: 100%;
          display: block;
          width: 1.1em;
          height: 1.1em;

          &.visible {
            visibility: visible;
          }
        }
      }

      .dev-header-2 {
        .dev-title {
          .dev-bold {
            font-weight: bold;
          }

          .dev-highlight {
            background-color: #ffe100;
          }
        }

        .dev-title, .dev-short-description {
          opacity: 0.5;
        }

        .dev-title, .dev-bar {
          padding-bottom: 0.2rem;
        }
      }
    }
  }


}
