<div class="grid text-center">
  <div class="col-12 flex-order-0 md:col-4">
    <div class="p-buttonset" *ngIf="view !== SRCCalendarView.List">
      <button
        pButton
        mwlCalendarPreviousView
        [view]="$any(view)"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
        icon="pi pi-chevron-left"
      ></button>
      <button
        pButton
        class="p-button-outlined"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
        [label]="'Today'"
      ></button>
      <button
        pButton
        mwlCalendarNextView
        [view]="$any(view)"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
        icon="pi pi-chevron-right"
      ></button>
    </div>
  </div>
  <div class="col-12 flex-order-2 md:flex-order-1 md:col-4">
    <div class="font-bold text-xl py-2">{{
      view === SRCCalendarView.List
        ? ''
        : viewDate | calendarDate: view + 'ViewTitle'
      }}</div>
  </div>
  <div class="col-12 flex-order-1 md:flex-order-2 md:col-4">
    <p-selectButton
      [options]="viewsOptions"
      [ngModel]="view"
      (ngModelChange)="viewChange.emit($event)"
    ></p-selectButton>
  </div>
</div>
