<p class="text-3xl text-center py-2">Hello my friend :)</p>
<div class="text-center text-xl">
  You need to log in order to use this awesome app!
  <br>
  <button pButton class="my-4 text-xl" (click)="login()" label="Login"></button>
  <br>
  or
  <br>
  <button pButton class="mt-4 p-button-secondary" (click)="anonymousLogin()" label="Continue as Local Anonymous"></button>
  <br>
  <span class="pt-2 text-sm">(Everything will be saved <span class="underline font-bold">only locally</span>)</span>
</div>
