.fab {
  position: fixed;
  bottom: 0;
  right: 0;
}

.calendar-container {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

::ng-deep {
  .src-bold-title .cal-event-title {
    font-weight: bold;
  }

  .src-highlight-title .cal-event-title {
    background-color: gold;
  }
}
