/* You can add global styles to this file, and also import other style files */
/*! purgecss start ignore */
.cal-month-view .cal-open-day-events {
  background: #f8f9fa;
  box-shadow: unset;
  border-bottom: 1px solid #e1e1e1;
  color: #808080;

  & > div {
    padding: 0.5rem 0;
  }
}

.cal-month-view .cal-day-badge {
  background-color: #2196F3;
}

.cal-week-view {
  .cal-event {
    border-width: 2px;
  }
}

.p-field {
  label {
    display: block;
    margin-bottom: .5rem;
  }

  textarea {
    width: 100%
  }
}

.ql-container {
  font-size: 1.25rem;
}

.p-dialog {
  .p-dialog-content {
    padding: 0 0.5rem 1rem 0.5rem;
  }

  .p-dialog-header, .p-dialog-footer {
    padding: 0.5rem;
  }
}

.p-blockui.p-component-overlay {
  z-index: 2;
}

.p-image-mask {
  overflow: auto;
  align-items: start !important;
  justify-content: start !important;

  .p-image-preview {
    transform-origin: top left;
  }

  .p-image-toolbar {
    position: fixed;
  }
}

.p-messages {
  .p-message-wrapper {
    padding: 0.5rem 0.75rem;
  }

  .p-message .p-icon {
    width: 1rem;
    height: 1rem;
  }
}

.p-inplace {
  .p-inplace-display {
    display: inline-block !important;
  }

  .p-inplace-content {
    display: inline-flex !important;
    align-items: end;
    width: 90%;
  }
}
/*! purgecss end ignore */
