/* You can add global styles to this file, and also import other style files */
/*! purgecss start ignore */
.cal-month-view .cal-open-day-events {
  background: #f8f9fa;
  box-shadow: unset;
  border-bottom: 1px solid #e1e1e1;
  color: #808080;

  & > div {
    padding: 0.5rem 0;
  }
}

.cal-month-view .cal-day-badge {
  background-color: #2196F3;
}

.cal-week-view {
  .cal-event {
    border-width: 2px;
  }
}

.p-field {
  label {
    display: block;
    margin-bottom: .5rem;
  }

  .p-element {
    width: 100%
  }
}

.ql-container {
  font-size: 0.9rem;
}
/*! purgecss end ignore */
